*.png
*.txt
*.ttf
*.eps
*.psd
*.pdf
*.docx
*.svg
*.jpg
*.eot
*.scss
*.woff
*.doc
*.mp3
*.mp4
*.tmp
*CSS_model/Assets/
*Git/
*Prework/
*Web-development/
*Html_CSS/Clone_web/
*Responsive_Design/
*Web_introduction/