# Standard ignore files and folders

*.txt
*.ttf
*.eps
*.psd
*.pdf
*.docx
*.jpg
*.eot
*.scss
*.woff
*.doc
*.mp3
*.mp4
*.tmp
*CSS_model/Assets/
*Git/
*Responsive_Design/
*mediaqueriesSAAS/
*javascript/
*.vscode
*node_modules
backendNodeJs/movies_API/.env
