# Standard ignore files and folders

*.png
*.txt
*.ttf
*.eps
*.psd
*.pdf
*.docx
*.svg
*.jpg
*.eot
*.scss
*.woff
*.doc
*.mp3
*.mp4
*.tmp
*CSS_model/Assets/
*Git/
*Responsive_Design/
*mediaqueriesSAAS/
*javascript/

# Webpack

/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-*
/test/temp
/test/ChangesAndRemovals
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
/.nyc_output
/.jest-cache
.DS_Store
.log
.idea
.vscode
.cache
.eslintcache
package-lock.json
