* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    display: grid;
    grid-template-areas: 'header header'
                        'aside main'
                        'footer footer';
}
header {
    background-color: yellow;
    padding: 1rem;
    width: 100vw;
    height: 15vh;
    grid-area: header;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 2rem;
    display: inline-block;
}
.nav-header li {
    display: inline-block;
    padding: 0.3rem 0.3rem;
    font-size: 2rem;
    list-style: none;
}
.nav-aside {
    display: grid;
    background-color: brown;
    width: 20vw;
    height: 70vh;
    grid-area: aside;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.nav-aside li {
    margin: 3rem;
    font-size: 2rem;
    list-style: none;
    background-color: blue;
    text-align: center;
    padding: 2rem;
    border-radius: 0.4rem;
}
.main-text {
    grid-area: main;
    background-color: coral;
    width: 80vw;
    height: 70vh;
    padding: 3rem;
}
.footer {
    background-color: green;
    border: 0.3 rem black double;
    height: 3rem;
    grid-area: footer;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}
.footer section {
    padding: 1rem;
    font-size: 2rem;
}