* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
.post {
  cursor: pointer;
  position: relative;
  width: 20rem;
  display: block;
}
.post-image img {
  width: 100%;
  vertical-align: top;
}
.post-overlay {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.post:hover .post-overlay{
  display: flex;
}
.post-likes, .post-comments {
  width: 5rem;
  margin: .5rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}