* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.Parent {
    border: 3px black dotted;
    display: inline-block;
    font-size: 2rem;
}
.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
}
#two {
    background-color: green;
}