* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
section {
    width: 300px;
    height: 300px;
}
img {
    width: auto;
    height: auto;
}