:root {
  --background-color: linear-gradient(#21c08b, #ab88ff);
  --color-font: #fff;
  --font-size-header: 1.3rem;
  --font-size-register-container: 1.4rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
header {
  background-color: #21c08b;
  display: flex;
  height: 100px;
  padding-top: 15px;
  padding-left: 10px;
  width: 100%;
}
.header__img {
  height: 60px;
  width: 150px;
}
.register {
  align-items: center;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.register__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: var(--color-font);
  padding: 40px 40px 40px;
  min-height: 600px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.register__container--form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: var(--font-size-register-container);
  outline: none;
  padding: 10px 15px;
  height: 50px;
}
.input::placeholder {
  color: var(--color-font);
}
.button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: var(--color-font);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 15px 0px;
}
.register__container--login {
  color: var(--color-font);
  font-size: var(--font-size-register-container);
  text-align: center;
  text-decoration: none;
}
.register__container--login:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer {
  align-items: center;
  background: #ab88ff;
  display: flex;
  height: 100px;
  width: 100%;
}
.footer a {
  color: var(--color-font);
  cursor: pointer;
  font-size: 1.4rem;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .register__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer a {
    margin: 5px 0px;
  }
}
