* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/*header-gradient-logo*/

.header__logo {
  padding-top: 15px;
  padding-left: 10px;
  width: 100%;
  height: 15vh;
  background: linear-gradient(90deg, #0a4c30e6, #2fc125cc);
}
.header__logo img {
  width: 150px;
  height: 60px;
}