:root {
  --background-color: #844bff;
  --color-font: #fff;
  --font-size-header: 1.3rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--background-color);
}
header {
  align-items: center;
  display: flex;
  height: 15vh;
}
.header__logo {
  background-color: var(--background-color);
  padding-top: 15px;
  padding-left: 10px;
  width: 100%;
}
.header__img {
  width: 150px;
  height: 60px;
}
.header__menu {
  margin: 10px 15px;
}
.header__menu--profile {
  align-items: center;
  display: flex;
  padding: 15px 10px 8px 10px;
}
.header__menu--profile img {
  width: 40px;
}
.header__menu--profile p {
  color: var(--color-font);
  font-size: var(--font-size-header);
  padding: 0px 0px 0px 5px;
}
.header__menu ul {
  display: none;
  list-style: none;
  position: absolute;
  text-align: right;
  width: 90px;
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu ul li {
  padding: 3px 0px;
}
.header__menu--links {
  color: var(--color-font);
  font-size: var(--font-size-header);
  text-decoration: none;
}
.header__menu--links:hover,
a:hover {
  text-decoration: underline;
}
.main {
  height: 300px;
  text-align: center;
  padding-top: 130px;
}
.main__title {
  color: var(--color-font);
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 15px;
}
.input {
  border: 2px solid white;
  border-radius: 25px;
  background-color: #915eff;
  color: var(--color-font);
  font-size: 1.6rem;
  height: 40px;
  outline: none;
  padding: 0px 20px;
  width: 60%;
}
.input::placeholder {
  color: var(--color-font);
}
.carousel {
  overflow-x: scroll;
  padding: 0px 30px 0px 30px;
  position: relative;
  width: 100%;
}
.carousel__container {
  margin: 70px 0px;
  padding-bottom: 10px;
  white-space: nowrap;
}
.carousel__container--list {
  color: var(--color-font);
  font-size: 2rem;
  padding-left: 20px;
  position: absolute;
}
.carousel-item {
  /* background-color: #00ff00; */
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 250px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  transition: 450ms;
  transform-origin: left;
  width: 200px;
}
.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  opacity: 1;
  transform: scale(1.3);
}
.carousel-item__img {
  height: 250px;
  object-fit: cover;
  width: 200px;
}
.carousel-item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 1rem;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.carousel-item__details:hover {
  opacity: 1;
}
.carousel-item__details div {
  margin-top: 170px;
}
.carousel-item__details > div > img {
  width: 30px;
}
.carousel-item__details--title {
  color: var(--color-font);
}
.carousel-item__details--subtitle {
  color: var(--color-font);
}
