* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.container {
    display: flex;
    /* Reposicionar los contenedores en caso de que crezca el viewport */
    flex-wrap: wrap;
}
/* llamar varias clases al tiempo separandolas con coma */
.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-width: 15rem;
    height: 15rem;
}
.c1 {
    background-color: rgb(7, 216, 17);
}
.c2 {
    background-color: rgb(179, 6, 6);
}
.c3 {
    background-color: rgb(4, 6, 136);
}
.c4 {
    background-color: rgb(202, 108, 0);
}
.c5 {
    background-color: rgb(143, 2, 119);
}

/* media queries tablet */
/* @media (min-width: 600px) {
    .c2, .c3, .c4 {
        width: 50%;
    }
} */

/* media queries desktop */
/* @media (min-width: 800px) {
    .container {
        width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
    .c1 {
        width: 60%;
    }
    .c2 {
        width: 40%;
    }
    .c3, .c4 {
        width: 33%;
    }
    .c5 {
        width: 34%;
    }
} */