:root {
  --soft-orange: #ffe9d5;
  --warm-black: #201e1c;
  --black: #282623;
  --off-white: #faf8f7;
  --white: #ffffff;
  --blue-primary: #344157;
  --yellow-primary: #fcb215;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM sans', sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #fcb215 100%);
}
header img {
  width: 450px;
  height: 200px;
  margin-top: 60px;
  align-self: center;
  border-radius: 3px;
}
.header-title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header-title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--white);
}
.header-title-container p {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header-title-container .header-button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 45px;
  padding: 16px;
  width: 229px;
  height: 50px;
  background-color: var(--off-white);
  /*shadow*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header-button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAAWklEQVQYlY3OsQ2AMAxEUY+QEimW+fs3jJIRMkJGCAVBESjGXP2fdCIiAhsSDEhAkhtguWJaPsGuB5YrkAbShmlfwQm0X2i88qALZvCEIXBgC8Ea/gAvWDxwAg3lL/Uax7BOAAAAAElFTkSuQmCC);
}
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-input-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-input-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-input-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('https://media.istockphoto.com/photos/the-leader-is-connected-with-employees-by-a-wide-network-of-lines-at-picture-id1184825367?k=20&m=1184825367&s=612x612&w=0&h=5YjY-yyYPyEGx2mYqwleJCHA-Ei4c-wSGV0tMX-AOVk=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.main-input-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-input-container .form {
  width: 100%;
  height: auto;
  margin-block-end: 20px;
}
.main-input-container .form div {
  width: 100%;
  height: auto;
  margin-block-end: 10px;
}
.main-input-container .input-username {
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--black);
  height: 30px;
  font-size: 12px;
  padding: 6px;
  margin-bottom: 12px;
  width: 200px;
}
.main-input-container .primary-button {
  background-color: var(--blue-primary);
  border-radius: 8px;
  color: var(--yellow-primary);
  width: 100px;
  cursor: pointer;
  font-size: 12px;
  height: 40px;
}
.main-input-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: rgba(117, 117, 117, 1);
}
