/* abjacent sibling */
h2 + p {
    color: #9c0404;
}
/* generela sibling */
h2 ~ p {
    color: red;
}
/* child combinator */
div > p {
    color: red;
}
/* descendant combinator */
div p {
    color: red;
}