body {
  font-family: sans-serif;
}
.container {
  display: grid;
  gap: 5px;
  height: 100vh;
  /* grid-template-columns: 100px 100px 100px; */
  grid-template-columns: repeat(3, 1fr); /* usando fracciones */
  grid-template-rows: repeat(4, 1fr);
  /* justify-content: center; alinear horizontal contenido */
  /* align-content: center; alinear vertical contenido */
  /* justify-items: center; alineado forma horizontal filas*/
  /* align-items: center; alineado forma vertical filas*/
  /* grid-template-rows: [start] 200px [start2] 200px [end]; nombrando las lineas */
  /* grid-template-columns: [start] 1fr [line2]1fr [line3]1fr [featured-end]1fr [line5]1fr [featured2]1fr [line7]1fr [end]; */
  /* grid-template-rows: 100px 100px 100px; */
  /* grid-template: rows / columns; */
  /* grid-template: 100px 100px 100px / 100px 100px 100px; */
  /* grid-template: repeat(3, 200px) / repeat(3, 1fr); */
  /* grid-template: repeat(3, 200px) / repeat(3, minmax(100px, 1fr)); */
  /* grid-template: 150px 1fr 100px / 300px 1fr; */
  /* grid-template: 1fr 4fr 1fr / 1fr 4fr; */
  /* column-gap: 10px; */
  /* row-gap: 10px; */
  /* gap: rows columns; */
  /* gap: 10px 10px; Space between rows and columns */
  /* grid-auto-flow: row; */ /* por defecto */
  /* grid-auto-flow: column; */
  /* grid-auto-columns: 50px 100px; */
  /* grid-auto-rows: 100px 100px; */
  /* grid-template-areas: 'header header'
                        'left content'
                        'footer footer';  */
}

/* .header {
  grid-area: header;
  background: #3bcc1e;
}
.left {
  grid-area: left;
  background: #c46c19;
}
.content {
  grid-area: content;
  background: #1391c4;
}
.footer {
  grid-area: footer;
} */
.item {
  padding: 10px;
  border: 1px solid rgb(0, 0, 1);
}
/* grid inside another grid */
.item:nth-of-type(5) {
  /* align-self: start ; */
  /* justify-self: start ; */
  /* background: #a518a5;
  grid-column: 1 / 3 ; start/end */
  /* grid-column: 1 / span 3;
  grid-row: 1 / span 2; */
  /* grid-row: 1 / span 2; */
  /* grid-column: start / featured-end; */
  /* grid-row: start / end; */
  /* overflow: auto; */
  /* display: inline-grid;  */
  /* display: subgrid; not avaliable */
  /* display: grid;
  grid-template: repeat(3, 50px) / repeat(3, 50px); */
}
.item:nth-of-type(2) {
  /* grid-column: 4 / span 2;
  grid-row: 1 / span 2; */
  /* grid-column: featured-end / featured2; */
  /* grid-row: start / end; */

}
.item:nth-of-type(3) {
  /* grid-column: 6 / span 2; */
  /* grid-column: featured2 / end; */
}
/* .item:nth-of-type(8) {
  background: #a518a5;
  grid-column: 2 / 4 ;
  grid-column: 1 / -1 ; Tomarse todas las columnas
  grid-column: 1 / span 2 ; espandirce 2 espacios
} */
/* .item:nth-of-type(7) {
  background: #a518a5;
  grid-column: 2 / 4 ;
} */
/* .item .item {
  background: #24d3da;
} */