/* How to create variables in CSS */
:root {
    --primary-color: #011f80;
    --secondary-color: #028b40;
    --font: 1.8rem;
    --header-size: 4rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header {
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color);
}
main {
    width: 100vw;
    height: 70vh;
    font-size: var(--font);
}
h1 {
    font-size: var(--header-size);
    color: var(--primary-color);
}
footer {
    width: 100vw;
    height: 15vh;
    background-color: var(--secondary-color);
}